table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

.login, .register {
    margin: auto;
    width: 50%;
    width: fit-content;
}

body {
    padding: 15px;
}

h1, h2 {
    padding-top: 15px;
}

.main {
    display: flex; 
}

.column {
    flex: 50%;
}