<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groups</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form action="/logout" method="post"><input type="submit" value="Logout"></form>
<p th:utext="@{Logged in as <b>__${loggedInUsername}__</b>}"></p>


<a HREF="/student">Students</a>
<br>
<a HREF="/course">Courses</a>

<h1>Groups</h1>

<div th:each="group : ${groups}">
    <h2 th:text="${group.name}"></h2>
    <p th:text="@{Group Id: __${group.id}__}"></p>
    <table>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="student : ${group.students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
        </tr>
    </table>
</div>

<div th:if="${admin}">

    <h2>Add Group</h2>

    <form action="/utils/group/add" method="post">

        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>

        <input type="submit" value="Add Group">

    </form>

    <h2>Delete Group</h2>

    <form action="/utils/group/delete" method="post">

        <label for="id">ID</label>
        <input type="text" name="id" id="id">
        <br>

        <input type="submit" value="Delete Group">

    </form>

    <h2>Alter Group</h2>

    <form action="/utils/group/alter" method="post">

        <label for="id">ID</label>
        <input type="text" name="id" id="idAlter">
        <br>

        <label for="name">Name</label>
        <input type="text" name="name" id="nameAlter">
        <br>

        <input type="submit" value="Alter Group">

    </form>

</div>

</body>
</html>