<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Login</h1>

    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autocomplete="on" autofocus>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>

        <div th:if="${param.error}">
            <p>Invalid username or password</p>
        </div>

        <div th:if="${param.logout}">
            <p>You have been successfully logged out!</p>
        </div>

        <input type="submit" value="Submit">
    </form>

    <br>
    <a HREF="/register">Register</a>

</body>
</html>