<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<a HREF="/student">Student</a>
<br>

<img th:src="@{/imgs/__${student.imgName}__}" height="300">

<p th:utext="@{First Name: <b>__${student.firstName}__</b>}" ></p>

<p th:utext="@{Last Name: <b>__${student.lastName}__</b>}" ></p>

<p th:utext="@{CNP: <b>__${student.cnp}__</b>}" ></p>

<p th:utext="@{Email: <b>__${student.email}__</b>}" ></p>

<p th:utext="@{Group: <b>__${student.group.name}__</b>}" ></p>

<p>Enrolled Courses: </p>

<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <th>THE PLACE WHERE YOU LEAVE A COURSE</th>
    </tr>

    <tr th:each="course : ${student.courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.endDate}"></td>
    </tr>

</table>


<h2>Enter Course</h2>

<form th:action="@{/utils/student/enterCourse?studentId=__${student.id}__}" method="post">

<!--    <label for="studentId">Student ID</label>-->
<!--    <input type="text" name="studentId" id="studentId">-->
<!--    <br>-->

    <label for="courseId">Course ID</label>
    <input type="text" name="courseId" id="courseId">
    <br>

    <input type="submit" value="Enter">
</form>

<h2>Leave Course</h2>

<form th:action="@{/utils/student/leaveCourse?studentId=__${student.id}__}" method="post">

<!--    <label for="studentId">Student ID</label>-->
<!--    <input type="text" name="studentId" id="studentIdRm">-->
<!--    <br>-->

    <label for="courseId">Course ID</label>
    <input type="text" name="courseId" id="courseIdRm">
    <br>

    <input type="submit" value="Leave">
</form>

</body>
</html>