<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form action="/logout" method="post"><input type="submit" value="Logout"></form>
<p th:utext="@{Logged in as <b>__${loggedInUsername}__</b>}"></p>

<a HREF="/student">Student</a>
<br>

<img th:src="@{/imgs/__${student.imgName}__}" height="300">

<p th:utext="@{First Name: <b>__${student.firstName}__</b>}" ></p>

<p th:utext="@{Last Name: <b>__${student.lastName}__</b>}" ></p>

<p th:utext="@{CNP: <b>__${student.cnp}__</b>}" ></p>

<p th:utext="@{Email: <b>__${student.email}__</b>}" ></p>

<p th:utext="@{Group: <b>__${student.group.name}__</b>}" ></p>

<p>Enrolled Courses: </p>

<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
        <div th:if="${admin}">
            <th></th>
        </div>
    </tr>

    <tr th:each="course : ${student.courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.startDate}"></td>
        <td th:text="${course.endDate}"></td>
        <div th:if="${admin}">
            <td>
                <form th:action="@{/utils/student/leaveCourse?studentId=__${student.id}__&courseId=__${course.id}__}" method="post">
                    <input type="submit" value="Leave">
                </form>
            </td>
        </div>
    </tr>

</table>

<div th:if="${#lists.contains(auths, 'ROLE_ADMIN')}">
    <h2>Enter Course</h2>

    <form th:action="@{/student/enterCourse?studentId=__${student.id}__}" method="post">

        <label for="courseId">Course ID</label>
        <input type="text" name="courseId" id="courseId" required>
        <br>

        <input type="submit" value="Enter">
    </form>
</div>

<!--<h2>Leave Course</h2>-->

<!--<form th:action="@{/utils/student/leaveCourse?studentId=__${student.id}__}" method="post">-->

<!--    <label for="courseId">Course ID</label>-->
<!--    <input type="text" name="courseId" id="courseIdRm">-->
<!--    <br>-->

<!--    <input type="submit" value="Leave">-->
<!--</form>-->

</body>
</html>