<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a HREF="/group">Groups</a>

    <h1>Students</h1>

    <p th:text="@{__${totalStudentCount}__ students are available.}"></p>

    <form>
        <label for="sortBy">Sort by</label>
        <select id="sortBy" name="sortBy">
            <option value="id" th:selected="(${currentSortBy} == 'id')">ID</option>
            <option value="firstName" th:selected="(${currentSortBy} == 'firstName')">First Name</option>
            <option value="lastName" th:selected="(${currentSortBy} == 'lastName')">Last Name</option>
            <option value="email" th:selected="(${currentSortBy} == 'email')">Email</option>
        </select>

        <label for="pageNum">Page</label>
        <select id="pageNum" name="pageNum">
            <option th:each="i : ${#numbers.sequence(1, pageCount)}" th:value="${i}" th:text="${i}" th:selected="(${i} == *{currentPageNum})"></option>
        </select>

        <label for="selectedGroup">Group</label>
        <select id="selectedGroup" name="selectedGroup">
            <option value="" th:selected="(${currentSelectedGroup} == '')">All</option>
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" th:selected="(${group.id} == *{currentSelectedGroup})"></option>
        </select>

        <input type="submit" value="Show">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>CNP</th>
            <th>Group</th>
            <th>Page</th>
        </tr>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td><img th:src="@{/imgs/__${student.imgName}__}" height="50"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.cnp}"></td>
                <td th:text="${student.group}!=null?${student.group.name}:''"></td>
                <td><a th:href="@{/student/__${student.id}__}">Own Page</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Add Student</h2>

    <form action="/utils/student/add" method="post" enctype="multipart/form-data">

        <label for="profilePic">Profile Picture</label>
        <input type="file" id="profilePic" name="profilePic">
        <br>

        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">
        <br>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName">
        <br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <br>

        <label for="cnp">CNP</label>
        <input type="text" name="cnp" id="cnp">
        <br>

        <label for="groupName">Group</label>
        <input type="text" name="groupName" id="groupName">
        <br>

        <input type="submit" value="Add Student">

    </form>

    <h2>Delete Student</h2>

    <form action="/utils/student/delete" method="post">

        <label for="id">ID </label>
        <input type="text" name="id" id="id">
        <br>

        <input type="submit" value="Delete Student">
    </form>

    <h2>Alter Student</h2>

    <form action="/utils/student/alter" method="post" enctype="multipart/form-data">

        <label for="profilePicAlter">Profile Picture</label>
        <input type="file" id="profilePicAlter" name="profilePic">
        <br>

        <label for="id">ID </label>
        <input type="text" name="id" id="idAlter">
        <br>

        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstNameAlter">
        <br>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastNameAlter">
        <br>

        <label for="email">Email</label>
        <input type="email" name="email" id="emailAlter">
        <br>

        <label for="cnp">CNP</label>
        <input type="text" name="cnp" id="cnpAlter">
        <br>

        <label for="groupidAlter">Group</label>
        <select name="groupid" id="groupidAlter">
            <option></option>
            <option th:each="group : ${groups}" th:text="${group.name}" th:value="${group.id}"></option>
        </select>
        <br>

        <input type="submit" value="Alter Student">

    </form>



</body>
</html>